<div class="articles">
    <div class="articles-title">
        <h1>최신글</h1>
    </div>
    <div class="articles-content">
        <ul class="article-title my-1">
            <li class="d-flex gap-1">
                <span class="border-bottom flex-4 text-center">제목</span>
                <span class="border-bottom flex-1 text-center">날짜</span>
            </li>
        </ul>
        <ul class="article-body">
            <% if (data.length == 0) { %>
                <p class="text-center my-1">등록된 게시물이 없습니다.</p>
                <% } else { %> <% data.forEach(post => { %>
                <li class="d-flex space-between align-center my-1">
                  <div class="body d-flex flex-4 space-between align-center">
                    <p class="title"><a href="/posts/<%= post._id %>"><%= post.title %></a></p>
                    <p class="wr_date mr-1 text-small">
                      <%= post.createdAt.toLocaleString('ko-kr', { year: '2-digit', month:
                      '2-digit', day: '2-digit' }).replace(/\./g, '').replaceAll(' ','/') %>
                    </p>
                  </div>
                  <!-- <div class="ctrl flex-1 text-center">
                    <a href="/edit/<%= post._id %>" class="btn btn-modify" title="수정"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/remove/<%= post._id %>" class="btn btn-delete" title="삭제"><i class="fa-solid fa-trash-can"></i></a>
                  </div> -->
                </li>
                <% }) %> <% } %>
        </ul>
    </div>
</div>